<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sample.myplaceapp">

    <!-- メモ帳Providerの読み込み権限を宣言する -->
    <permission
        android:name="com.example.android.sample.myplaceapp.place.read"
        android:description="@string/permission_place_read_description"
        android:label="@string/permission_place_read_label"
        android:protectionLevel="normal" />

    <!-- メモ帳Providerの書き込み権限を宣言する -->
    <permission
        android:name="com.example.android.sample.myplaceapp.place.write"
        android:description="@string/permission_place_write_description"
        android:label="@string/permission_place_write_label"
        android:protectionLevel="signature" />

    <!-- 作成したパーミッションの使用を宣言する -->
    <uses-permission android:name="com.example.android.sample.myplaceapp.place.read" />
    <uses-permission android:name="com.example.android.sample.myplaceapp.place.write" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".location.PlaceStoreService"
            android:exported="false" />

        <!-- 位置情報のContentProvider -->
        <provider
            android:name=".location.PlaceProvider"
            android:authorities="com.example.android.sample.myplaceapp.place"
            android:exported="false"
            android:readPermission="com.example.android.sample.myplaceapp.place.read"
            android:writePermission="com.example.android.sample.myplaceapp.place.write" />

        <!-- Google Maps Android API用 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBo-nvqnsQGY1eOlOcGoWjWBz58G2jttKM" />

        <activity android:name=".ListViewActivity" />

        <provider
            android:name=".LogContentProvider"
            android:authorities="com.example.android.sample.myplaceapp.LogContentProvider"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".LogActivity"></activity>
    </application>

</manifest>